<div>
 <app-widget-area></app-widget-area>
</div>
<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
   <mat-card fxFlex="25">
       <app-widget-card  label="New Users" total="12k" percentage="50" ></app-widget-card>
   </mat-card>
   <mat-card fxFlex="25">
    <app-widget-card label="Users retention" total="10k" percentage="40"></app-widget-card>
    </mat-card>
   <mat-card fxFlex="25">
    <app-widget-card label="Users engagement" total="8k" percentage="30"></app-widget-card>
    </mat-card>
   <mat-card fxFlex="25">
    <app-widget-card label="Referral" total="6k" percentage="20" ></app-widget-card>
    </mat-card>
</div>

<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="40">

        <div class="example-header">
          <!-- <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field> -->
        </div>

        <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
          </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="branch">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Branch </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.branch}} </mat-cell>
          </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

    <div fxFlex="60">
       <app-widget-pie></app-widget-pie>
    </div>
</div>
<br>
<br>
<br>
<br>
